# Build output
target/

# IDE
.idea/
*.iml

# Credentials
src/test/resources/config.properties

# Compiled class file
*.class

# Log file
*.log

# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# JVM crash logs
hs_err_pid*
replay_pid*
